.banner {
    background-color:steelblue;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    padding-left: 25px;
}

h3 {
    font-size: 14px;
}

.headertable {
    background-color:tan;
}