.banner {
    background-color:steelblue;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    padding-left: 25px;
}
.total{
    color: tomato;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    
}

.headertable {
    background-color:rgba(210, 180, 140, 0.808);
}